server:
  port: 9922

spring:
    datasource:
        name: test
        url: jdbc:mysql://127.0.0.1:3306/mytest?characterEncoding=utf8&useSSL=false
        username: root
        password: 1234
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20

#mybatis:
  #mapper-locations: classpath:yuanjun/chen/dao/mybatis/mapping/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
  #type-aliases-package: yuanjun.chen  # 注意：对应实体类的路径

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql